/* Styling for title box */
.gradient{
    background-color: #130f40;
background-image: linear-gradient(315deg, #3cacba 0%, #135d37 74%);
}

/* Styling for Description box */
.gradient1{
    background-color: #2b4162;
background-image:  linear-gradient(320deg, #073f43 0%, #19431d 70%);
;
}

/* Styling for done mark */
.done{
    color: rgb(0 243 255);
}
/* Styling for fail mark */
.fail{
    color:rgb(199, 28, 28);
}
